version: '3.8'

networks:
  main:

services:
  backend:
    build: ./backend/.
    depends_on:
      - redis
      - mongodb
    ports:
      - "127.0.0.1:3001:3001"
    environment:
      - PathBase=/api
      - ASPNETCORE_ENVIRONMENT
      - ASPNETCORE_URLS=http://+:3001
      - ConnectionStrings__Database=mongodb://mongodb:mongodb@mongodb:27017
      - ConnectionStrings__Redis=redis:6379,allowAdmin=true
      - osuApi__ClientId
      - osuApi__ClientSecret
      - osuApi__CallbackUrl=/oauth/callback
      - StaticFiles__VolumePath=./uploads
    volumes:
      - ./logs/backend:/app/logs
      - ./keys:/root/.aspnet/DataProtection-Keys
      - ./uploads:/app/uploads
    networks:
      - main
      - logs

  frontend:
    build: ./frontend/.
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - ./logs/frontend:/app/logs
      - ./logs/frontend/npm:/root/.npm/_logs
    networks:
      - main

  redis:
    image: redis
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - ./redis:/data
      - ./logs/redis:/var/log/redis
    networks:
      - main

  mongodb:
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongodb
      - MONGO_INITDB_ROOT_PASSWORD=mongodb
      - MONGO_INITDB_DATABASE=circleforms
    ports:
      - "127.0.0.1:27017:27017"
    volumes:
      - ./db:/data/db
      - ./logs/mongo:/var/log/mongodb
    networks:
      - main
