.radio-input {
  font-size: 1.5rem;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.65em;
  cursor: pointer;

  input[type="radio"] {
    appearance: none;
    @apply bg-black-darker;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    @apply shadow-inputInset;
    border-radius: 50%;

    /* Windows High Contrast Mode */
    background-color: CanvasText;

    transform-origin: center;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type="radio"]:focus-visible {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  input[type="radio"]:disabled {
    @apply text-pink-darker;
    cursor: not-allowed;
  }
}
