:root {
  --reach-menu-button: 1;
}

[data-reach-menu] {
  position: relative;
}

[data-reach-menu-popover] {
  display: block;
  position: absolute;
}

[data-reach-menu-popover][hidden] {
  display: none;
}

[data-reach-menu-list],
[data-reach-menu-items] {
  outline: none;
}

[data-reach-menu-item] {
  display: block;
  user-select: none;

  &.menu-language__item {
    @apply flex items-center bg-transparent;

    .pill {
      @apply mr-2 h-4 w-1 rounded-5 bg-pink opacity-0;

      &.active {
        @apply opacity-100;
      }
    }

    &:hover,
    &:focus {
      @apply bg-grey-dark;
    }
  }
}

/*
 The dom structure of a MenuLink is reach-menu-item > a,
 so to target all items we can use `data-reach-menu-item`
*/
[data-reach-menu-item] {
  cursor: pointer;
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: initial;
}

[data-reach-menu-item][aria-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-reach-popover] {
  @apply z-aboveNavbar;
}

[data-reach-menu-popover] {
  @apply mt-4 rounded-14 bg-black-darker p-2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

[data-reach-menu-list] {
  width: 140px;
  @apply flex flex-col gap-y-2;

  > * {
    @apply w-full cursor-pointer rounded-7 py-1 px-4 text-center text-sm font-semibold text-white transition ease-out-cubic;

    &:not(.danger) {
      @apply bg-black-light;
    }

    &.danger {
      background: rgba(57, 34, 34, 0.8);
    }

    &:hover,
    &:focus {
      @apply brightness-150;
    }

    &[data-selected] {
      @apply bg-grey-dark;

      .pill {
        @apply opacity-100;
      }
    }
  }
}

[data-reach-tab-panels] {
  @apply rounded-b-3xl bg-black-lightest px-8 py-5;
}

[data-reach-tab-list] {
  @apply flex rounded-t-35 bg-black-light;
}

[data-reach-tab] {
  @apply flex-1 select-none py-3 text-3xl font-bold text-white transition-colors;

  &[aria-selected="true"] {
    @apply rounded-t-20 bg-black-lightest;
  }

  &[aria-selected="false"] {
    @apply font-medium text-opacity-25;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down[data-reach-menu-list],
.slide-down[data-reach-menu-items] {
  border-radius: 5px;
  animation: slide-down 0.2s ease;
}

[data-reach-listbox-button] {
  @apply rounded-14 border-none bg-black-lightest;
  min-width: 300px;
}

[data-reach-listbox-popover] {
  background-color: theme("colors.black.darker") !important;
}

[data-reach-listbox-option] {
  @apply rounded bg-black-darker;

  &[data-current-nav] {
    @apply bg-grey-dark;
  }

  &[data-current-selected] {
    @apply text-pink;
  }
}
