label {
  @apply select-none;
}

.radio {
  appearance: none;
  margin: 0;
  @apply h-5 w-5 rounded-full outline outline-2 outline-pink flex justify-center items-center;

  &::before {
    content: '';
    @apply w-3 h-3 bg-pink rounded-full transform scale-0 transition ease-out-cubic;
  }

  &:checked::before {
    @apply scale-100;
  }
}

.input--inline {
  @apply bg-transparent text-white border-b border-dotted border-white border-opacity-20 p-2 relative transition-colors;

  &::placeholder {
    @apply text-white text-opacity-30;
  }

  &:focus {
    @apply outline-none border-solid border-opacity-75;
  }

  &.input--title {
    @apply text-4xl font-bold;
  }
}

textarea {
  min-height: 8rem;
}