@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');


html,
body {
  @apply p-0 m-0 bg-black text-white font-body h-full;
  background-image: url('/images/background-decorations.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#__next {
  @apply h-full;
}

* {
  box-sizing: border-box;
}

.link {
  @apply text-lg font-medium relative px-5 py-3;
  @apply font-alternates;

  &::before {
    content: '';
    @apply w-full h-full opacity-0 rounded-3xl transition-opacity ease-out-cubic absolute inset-0;
    background-color: rgba(255, 102, 170, 0.2);
  }

  &.active::before {
    @apply opacity-100;
  }

  &:hover::before {
    @apply opacity-100;
  }
}

footer {
  a {
    &:hover {
      @apply underline;
    }
  }
}

svg {
  width: auto;
  height: auto;
}

.button {
  @apply font-alternates text-lg font-bold rounded-3xl px-5 py-2 transition ease-out-cubic;

  &.primary {
    @apply bg-black outline outline-3 outline-pink text-pink;
  }

  &.secondary {
    @apply bg-pink text-pink-dark;

    &:hover {
      @apply bg-pink-600;
    }
  }

  &.tertiary {
    @apply outline-5 outline-dotted outline-pink;
  }

  &.grey {
    @apply font-body bg-grey-dark text-grey text-2xl font-semibold transition-colors ease-out-cubic;

    &.active,
    &:hover {
      @apply bg-pink text-black-lighter font-bold;
    }
  }

  &.button--rounded {
    @apply rounded-full w-12 h-12 flex justify-center items-center;
  }

  &.button--large {
    @apply text-2xl px-14 py-3;
  }

  &[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
}

.container {
  @apply w-full mx-auto px-4;
  max-width: 1172px;

  &.max-height {
    height: calc(100% - 56px);
  }
}

.small-container {
  @apply w-full mx-auto px-4;
  max-width: 968px;
}

.type-h1 {
  @apply font-alternates text-7xl font-bold;
}

.type-h2 {
  @apply font-alternates text-5xl;
}

[data-reach-popover] {
  @apply z-aboveNavbar;
}

[data-reach-menu-popover] {
  @apply mt-4 rounded-14 bg-black-darker p-2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5)
}

[data-reach-menu-list] {
  width: 140px;
  @apply flex flex-col gap-y-2;

  a {
    @apply font-alternates text-sm text-center font-semibold py-1 px-4 text-white w-full rounded-7;

    &:not(.danger) {
      @apply bg-black-light;
    }

    &.danger {
      background: rgba(57, 34, 34, 0.8);
    }
  }
}

[data-reach-tab-panels] {
  @apply bg-black-lightest px-8 py-5 rounded-b-3xl;
}

[data-reach-tab-list] {
  @apply flex bg-black-light rounded-t-35;
}

[data-reach-tab] {
  @apply font-alternates font-bold text-3xl py-3 flex-1 text-white transition-colors;

  &[aria-selected="true"] {
    @apply bg-black-lightest rounded-t-20;
  }

  &[aria-selected="false"] {
    @apply font-medium text-opacity-25;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down[data-reach-menu-list],
.slide-down[data-reach-menu-items] {
  border-radius: 5px;
  animation: slide-down 0.2s ease;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}